
  .title {
    background: linear-gradient(to right, rgb(171, 223, 104),rgb(233, 158, 112),rgb(128, 236, 169));
    color: rgb(51, 49, 44);
    border: 1px solid rgb(31, 29, 29);
    text-align: center;
  }
  