.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('./pictures/photo.jpg');
  background-size: cover;
}
html { 
  overflow-y: scroll;
  overflow-x:hidden; 
}
h5{
  color: rgb(239, 232, 216);
}

